<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vista del Mesero</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mesero.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


</head>
<body>
    <h1>Menú del Mesero</h1>

    <div class="button-container">
        <a href="{% url 'pedidos:comida' %}">
            <button class="category-button">Comida</button>
        </a>
        <a href="{% url 'pedidos:bebidas' %}">
            <button class="category-button">Bebida</button>
        </a>
        <a href="{% url 'pedidos:resumen_pedido' %}">
            <button class="action-button">Editar Orden</button>
        </a>
    </div>

    <a href="{% url 'pedidos:home' %}">
        <button>Regresar al Inicio</button>
    </a>
</body>
</html>
