<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú de Comida</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/comida.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <h1>Menú de Comida</h1>

    <div class="button-container">
        {% if categorias %}
            <p>Algun antojito que tengas pendiente?.</p>
            {% for categoria in categorias %}
                <a href="{% url 'pedidos:detalle_comida' categoria.url %}">
                    <button class="category-button">{{ categoria.nombre }}</button>
                </a>
            {% endfor %}
        {% else %}
            <p>No se encontraron categorías de comida.</p>
        {% endif %}
    </div>

    <a href="{% url 'pedidos:cliente' %}">
        <button>Regresar al Menú de Cliente</button>
    </a>
</body>
</html>
