<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <h1>Menú de Cliente</h1>
    <p>Haz tu pedido ahora!!</p>

    <div>
        <a href="{% url 'pedidos:bebidas' %}">
            <button>Bebidas</button>
        </a>
        <a href="{% url 'pedidos:comida' %}">
            <button>Comida</button>
        </a>
        <a href="{% url 'pedidos:resumen_pedido' %}">
            <button class="category-button">Hacer Pedido</button>
        </a>
    </div>
    
    <br>

    <button onclick="location.href='/'">Regresar al Inicio</button>
</body>
</html>
