<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Orden</title>
</head>
<body>
    <h1>Editar Orden</h1>
    <p>Aquí puedes editar la orden del cliente.</p>

    <a href="{% url 'pedido:mesero' %}">
        <button>Regresar a la Vista del Mesero</button>
    </a>

    <h1>Administración de Órdenes</h1>

{% if user.is_authenticated and user.is_staff %}
    <h2>Mesas Activas</h2>
    <ul>
        {% for sesion in sesiones %}
            <li>
                Mesa {{ sesion.mesa_id }} - {{ sesion.estado|yesno:"Abierta,Cerrada" }}
                {% if sesion.estado %}
                    <a href="{% url 'pedidos:cerrar_sesion_invitado' sesion.mesa_id %}">Cerrar Sesión</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes permiso
</body>
</html>
