<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumen del Pedido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resumen_pedido.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        .item-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .total {
            font-weight: bold;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
        }
    </style>

</head>
<body>
    <h1>Resumen del Pedido</h1>

    <div>
        {% for item in todos_items %}
            <div class="item-container">
                <span>{{ item.nombre }} - Cantidad: {{ item.cantidad }} - Precio: ${{ item.precio }} - Total: ${{ item.subtotal }}</span>
            </div>
        {% endfor %}
    </div>
    
    <p class="total">Total del Pedido: $<span>{{ total }}</span></p>

    <button onclick="confirmarPedido()">Confirmar Pedido</button>
    <a href="{% url 'pedidos:reiniciar_pedido' %}">
        <button>Reiniciar Pedido</button>
    </a>   

    <script>
        function confirmarPedido() {
            alert("Pedido confirmado. Gracias por tu compra!");
        }
    </script>

    <a href="{% url 'pedidos:cliente' %}"><button>Regresar al Menú de Cliente</button></a>
</body>
</html>
